.button{
    background-color: #FFFFFF!important; padding: 10px!important; border-radius: 10px!important;  display: flex; justify-content: center; align-items: center; border: 1px solid #25D366;
  }
  .button2{
  display: flex; justify-content: center; align-items: center; 
  }

  .helpbutton{
    display: flex; justify-content: space-between; align-items: center; text-decoration: none;
    }
  .mr10{
    margin-right: 10px!important;
  }
  


  .helpsupport{
    border: 1px solid #25D366!important; border-radius: 8px; width:150px; height: 48px; margin: 0 10px;
    color: var(--text-background-403-e-3-e, #403E3E);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 130%;
text-align: center;
border: 0;
outline: 0;
text-decoration: none;
padding-top: 10px;

  }

  .inputbox{
    width:92%;
    height: 48px;
    border: 0;
    outline: 0;
    background-color: transparent;

  }