.button{
    background-color: #FFFFFF!important; padding: 10px!important; border-radius: 10px!important;  display: flex; justify-content: center; align-items: center; border: 1px solid #25D366;
  }
  .button2{
  display: flex; justify-content: center; align-items: center; 
  }
  .mr10{
    margin-right: 10px!important;
  }
  .searchbox{
    border: 1px solid #25D366!important; border-radius: 8px; width:792px; height: 48px; margin: 0 10px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
  }

  .inputbox{
    width:92%;
    height: 48px;
    border: 0;
    outline: 0;
    background-color: transparent;

  }